footer(class="footer has-background-dark py-2")
    div(class="content has-text-centered color-footer")
        p ECOLAC CIA LTDA
        p Correo: info@ecolac.com.ec
        p Dirección: Barrio San cayetano,Calle Paris(Campus UTPL)
        p Teléfonos: 072611411 - 0994562816
        p LOJA - ECUADOR

script(src=url+"js/ext/bulma-carousel.min.js")
script(src=url+"js/jquery-3.3.1.min.js")
script(src=url+"js/main.js")

