footer(class="footer is-info color-3 rest-pad-y")
    div(class="content has-text-centered color-text format-p")
        p Correo: info@ecolac.com.ec
        p Dirección: barrio San Cayetano,calle Paris(Campus UTPL)
        p Teléfonos: 072611411 - 0994562816
        p LOJA - ECUADOR

script(src=url+"js/ext/bulma-carousel.min.js")
script(src=url+"js/jquery-3.3.1.min.js")
script(src=url+"js/main.js")

