footer(class="footer has-background-info py-2")
    div(class="content has-text-centered")
        p!="<strong>ECOLAC CIA LTDA</strong>"
        p Correo
        p Dirección
        p Teléfono

script(src=url+"js/ext/bulma-carousel.min.js")
script(src=url+"js/jquery-3.3.1.min.js")
script(src=url+"js/main.js")

