header
    section(class="hero is-light")
        div(class="hero-body rest-pad-y")
            div(class="container")
                div(class="title has-text-centered cont-image")
                    img(class="img-brand", src=url+"img/Recurso1.png")
