div(class="modal", id="modal1") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head has-background-info") 
            p(class="modal-card-title has-text-white") Leche
            button(class="delete" aria-label="close") 
        section(class="modal-card-body has-text-dark") Contenido:
                                      

div(class="modal", id="modal2") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head has-background-info") 
            p(class="modal-card-title has-text-white") Yogurt
            button(class="delete" aria-label="close") 
        section(class="modal-card-body has-text-dark") Contenido 2



div(class="modal", id="modal3") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head has-background-info") 
            p(class="modal-card-title has-text-white") Crema de leche
            button(class="delete" aria-label="close") 
        section(class="modal-card-body has-text-dark") Contenido 3



div(class="modal", id="modal4") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head has-background-info") 
            p(class="modal-card-title has-text-white") Manjar
            button(class="delete" aria-label="close") 
        section(class="modal-card-body has-text-dark") Contenido 4
 


div(class="modal", id="modal5") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head has-background-info") 
            p(class="modal-card-title has-text-white") Mantequilla
            button(class="delete" aria-label="close") 
        section(class="modal-card-body has-text-dark") Contenido 5



div(class="modal", id="modal6") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title has-text-white") Queso
            button(class="delete" aria-label="close") 
        section(class="modal-card-body has-text-dark") Contenido 6
