div(class="modal", id="modal1") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Leche
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contenido 1
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal2") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Yogurt
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contenido 2
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal3") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Crema de leche
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contenido 3
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal4") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Manjar
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contenido 4
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal5") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Mantequilla
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contenido 5
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal6") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Queso
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contenido 6
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar