div(class="modal", id="modal1") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Titulo 1
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contrenido 1
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal2") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Titulo 2
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contrenido 2
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal3") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Titulo 3
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contrenido 3
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal4") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Titulo 4
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contrenido 4
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal5") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Titulo 5
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contrenido 5
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar


div(class="modal", id="modal6") 
    div(class="modal-background") 
    div(class="modal-card") 
        header(class="modal-card-head") 
            p(class="modal-card-title") Titulo 6
            button(class="delete" aria-label="close") 
        section(class="modal-card-body") Contrenido 6
        footer(class="modal-card-foot") 
            button(class="button is-success") Aceptar
            button(class="button") Cerrar