
<nav class="navbar is-info nav-sticky nav-color" role="navigation" aria-label="main navigation">
  <div class="navbar-brand"><a class="navbar-item is-hidden-desktop" href="undefinedindex.html"><img src="undefinedimg/Recurso2.png" alt="Index"/></a><a class="navbar-burger burger" role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
  <div class="navbar-menu" id="navbar-main">
    <div class="container navbar-start centrado"><a class="navbar-item has-text-weight-semibold" href="undefinedindex.html">Inicio</a><a class="navbar-item has-text-weight-semibold" href="undefinedviews/quienes_somos.html">Quiénes somos</a><a class="navbar-item has-text-weight-semibold" href="undefinedviews/productos.html">Productos</a><a class="navbar-item has-text-weight-semibold">UTPL</a><a class="navbar-item has-text-weight-semibold" href="undefinedviews/contactos.html">Contáctos</a></div>
  </div>
</nav>