nav(class="navbar is-info nav-sticky nav-color" role="navigation" aria-label="main navigation")
    div(class="navbar-brand")
        a(class="navbar-item is-hidden-desktop", href=url+"index.html")
            img(src=url+"img/Recurso1.png", alt="Index")
        a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")

    div(id="navbar-main" class="navbar-menu")
        div(class="container navbar-start centrado")
            a(class="navbar-item is-italic", href=url+"index.html") Inicio
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link is-italic") Quiénes somos
                div(class="navbar-dropdown")
                    a(class="navbar-item is-italic", href="./views/quienes_somos.html") Misión
                    a(class="navbar-item is-italic") Visión
                    a(class="navbar-item is-italic") Valores
                    a(class="navbar-item is-italic") Política empresarial
                    
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link is-italic") Productos
                div(class="navbar-dropdown")
                    a(class="navbar-item is-italic") Producto 1
                    a(class="navbar-item is-italic") Producto 2
    
            
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link is-italic") Valor compartido
            
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link is-italic", href="./views/contactos.html") Contáctos