nav(class="navbar is-info nav-sticky" role="navigation" aria-label="main navigation")
    div(class="navbar-brand")
        a(class="navbar-item is-hidden-desktop", href=url+"index.html")
            img(src=url+"img/Recurso1.png", alt="Index")
        a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")

    div(id="navbar-main" class="navbar-menu")
        div(class="container navbar-start")
            a(class="navbar-item", href=url+"index.html") Inicio
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link") Quiénes somos
                div(class="navbar-dropdown")
                    a(class="navbar-item", href="./views/quienes_somos.html") Sobre nosotros
                    a(class="navbar-item") Trabajos
            
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link") Productos
                div(class="navbar-dropdown")
                    a(class="navbar-item") Producto 1
                    a(class="navbar-item") Producto 2
                    a(class="navbar-item") Producto 3
                    hr(class="navbar-divider")
                    a(class="navbar-item") Producto diferente
            
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link") Responsabilidad social
            
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link", href="./views/contactos.html") Contáctos