include includes/header.pug
include includes/navbar.pug
    section(id="contacto")
    div(class="columns")
        div(class="col-md-12")
            h3(class="titulo") Contactos
            p Quienes forman parte de lo que es Ecolac

    div(class="columns")
        div(class="col-md-3")
            div
                img(src="../img/hombre.png", alt="")
                h4(Persona1)
                    span(Especialidad)
        div(class="col-md-9")
            img(src="../img/persona1.png", alt="") 
            
            | algun comentario de la persona 1 o lo que realiza
                
    div(class="columns")
        div(class="col-md-9")
            img(src="../img/persona2.png", alt="") 
            
            | algun comentario de la persona 1 o lo que realiza.
                
        div(class="col-md-3")
            div(class="titulo")
                img(src="../img/persona2.png", alt="")
                h4 Persona2
                    span Especialidad
include includes/footer.pug