include includes/header.pug
include includes/navbar.pug
    <section id="contacto">
        <div class="col-md-12">
          <h3 class="titulo">Contactos</h3>
          <p>Quienes forman parte de lo que es Ecolac</p>
        </div>
      </div>
        <div class="col-md-3">
          <div img src="img/hombre.png" alt=""></div>
            <h4>Persona 1</h4>
            <span>Especialidad</span>
          </div>
        </div>
        <div class="col-md-9">
          
            <b><img src="img/persona1.png" alt=""></b> algun comentario de la persona 1 o lo que realiza. <small><img src="img/imagenblanca.png" alt=""></small>
          </div>
        </div>
      </div>
        <div class="col-md-9">
          
            <b><img src="img/persona2.png" alt=""></b> algun comentario de la persona 1 o lo que realiza. <small><img src="img/fotoblanca.png" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="titulo">
            <img src="img/persona2.png" alt=""></div>
            <h4>Persona 2</h4>
            <span>Especialidad</span>
          </div>
    </div>
  </section>
include includes/footer.pug