- var url = '../';

include includes/head.pug
include includes/navbar.pug
section(class="hero is-link is-medium nav-color")
  div(class="hero-body")
    div(class="container")
      h1(class="title")
        |Contáctos
br 
main(class= "container") 
    div(class="columns is-mobile")
        div(class="column is-half")
            h1(class="title") 
                span(class="icon")
                    i(class="far fa-address-book")   
                |  CENTRO DE ATENCIÓN
            h2(class="subtitle has-text-justified")     
                p Télefono: 072611411-0994562816
                p Lunes a Viernes:
                p Correo electrónico: info@ecolac.com.ec
                p Dirección: San cayetano alto(Campus UTPL)
            br
        div(class="column is-half")      
            h1(class="title has-text-centered is-marginless") 
                span(class="icon")
                    i(class="fas fa-map-marker-alt")
                |  UBÍCANOS  
            div(class= "card equal-height is-borderless is-shadowless")
                        div(class= "card-content is-flex is-horizontal-center ")    
                            div(class="intro-iframe")
                                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1990.0803465474607!2d-79.19846510218315!3d-3.987346081632812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cb47e2d439540f%3A0x77d39f1cfa8755fd!2sECOLAC%2C+Calle+Par%C3%ADs%2C+Loja!5e0!3m2!1ses!2sec!4v1544115654605" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)                  
        
include includes/footer.pug  
