- var url = '../';

include includes/head.pug
include includes/navbar.pug

section(class="hero is-link is-medium nav-color")
    div(class="hero-body")
        div(class="container animated fadeIn slow")
            h1(class="title")
                | "Desarrollo de la cadena de lácteos y carne para los proveedores de ECOLAC"
            h2(class="subtitle")
                | Lundin Fundation
                p Lundin Gold

main(class="container py-3 px-2")

    div(class="content")
        div(class="tile is-ancestor")
            div(class="tile is-4 is-parent")
                div(class="tile is-child box animated fadeInLeft slow")
                    h2 Objetivo del proyecto
                    p Fortalecer la cadena productiva de lácteos y carnes, mediante innovaciones tecnológicas orientadas al incremento de la cantidad y calidad de leche y carne; mejorando productividad, reduciendo costos e incrementando los ingresos para los productores.

            div(class="tile is-parent")
                div(class="tile is-child box animated fadeInRight slower")
                    h2 Centros de acopio
                    table(class="table is-bordered is-striped is-hoverable")
                        thead
                            tr
                                th(class="has-text-centered is-uppercase") Centro de acopio
                                th(class="has-text-centered is-uppercase") Acopio Enero/Diciembre 2017
                                th(class="has-text-centered is-uppercase") Nª de proveedores
                        tbody
                            tr
                                th(class="has-text-grey-dark") Los encuentros
                                th(class="has-text-right has-text-grey-dark") 145.161,00
                                th(class="has-text-right has-text-grey-dark") 13
                            tr
                                th(class="has-text-grey-dark") Chicaña
                                th(class="has-text-right has-text-grey-dark") 246.468,00
                                th(class="has-text-right has-text-grey-dark") 25
                            tr
                                th(class="has-text-grey-dark") Zumbi
                                th(class="has-text-right has-text-grey-dark") 578.024,00
                                th(class="has-text-right has-text-grey-dark") 49
                            tr
                                th(class="has-text-grey-dark") Chamico
                                th(class="has-text-right has-text-grey-dark") 102.515,00
                                th(class="has-text-right has-text-grey-dark") 9
                            tr
                                th(class="has-text-grey-dark") Zona Sur
                                th(class="has-text-right has-text-grey-dark") 438.086,00
                                th(class="has-text-right has-text-grey-dark") 4
                            tr
                                th(class="has-text-grey-dark") Total
                                th(class="has-text-right has-text-grey-dark") 1.510.254,00
                                th(class="has-text-right has-text-grey-dark") 100

        br

        div(class="tile is-ancestor animated fadeInUp delay-2s")
            div(class="tile is-parent")
                div(class="tile is-child")
                    h2 Estrategias

        div(class="tile is-ancestor")
            div(class="tile is-parent animated fadeInUp delay-2s")
                div(class="tile is-child box")
                    h4 Salas de Ordeño


            div(class="tile is-parent animated fadeInUp delay-2s")
                div(class="tile is-child box")
                    h4 Alimentación
                    ul
                        li Balanceado
                        li Sales minerales

            div(class="tile is-parent animated fadeInUp delay-2s")
                div(class="tile is-child box")
                    h4 Paquete sanitario
                    ul
                        li Desparasitación
                        li Vacunación
                        li Certificación de predios libres de brucelosis y tuberculosis.

            div(class="tile is-parent animated fadeInUp delay-2s")
                div(class="tile is-child box")
                    h4 Fertilización
                    ul
                        li Abonos

        div(class="tile is-ancestor")
            div(class="tile is-parent animated fadeInUp delay-3s")
                div(class="tile is-child box")
                    h4 Ordeño Mecanizado
                    ul
                        li Máquinas de ordeño

            div(class="tile is-parent animated fadeInUp delay-3s")
                div(class="tile is-child box")
                    h4 Maquinarias y Equipos
                    ul
                        li Desmalezadoras
                        li Picadoras de pasto
                        li Equipos de fumigación
                        li Motosierra

            div(class="tile is-parent animated fadeInUp delay-3s")
                div(class="tile is-child box")
                    h4 Pastoreo Rotacional
                    ul
                        li Cercas eléctricas y accesorios

            div(class="tile is-parent animated fadeInUp delay-3s")
                div(class="tile is-child box")
                    h4 Transporte Seguro
                    ul
                        li Cantaras de acero inoxidable y aluminio de 20-30-40 litros

            div(class="tile is-parent animated fadeInUp delay-3s")
                div(class="tile is-child box")
                    h4 Mejoramiento Genético
                    ul
                        li Compra de animales

include includes/footer.pug