include views/includes/header.pug
include views/includes/navbar.pug

div(class = "card")
  div(class="card-content")
    div(class="media")
      div(class="media-left")
        figure(class="image is-48x48")
          img(src="../img/Recurso 1.PNG")  
      div(class="media-content")
        p(class="title is-4")
        |Mision
    div(class="content")
      | Ser en el 2017 una empresa líder en el mercado de la región sur del país, 
      | en la producción y comercialización de productos lácteos y alimentos, 
      | de apoyo a emprendedores y estudiantes de la UTPL; construida en sus propias instalaciones, 
      | con moderna tecnología, que garantice productos de calidad e inocuos, 
      | con colaboradores comprometidos, con sentido social y cuidado del medio ambiente.
      br
    
include views/includes/footer.pug
