- var url = './';

include views/includes/head.pug
section(class="hero is-fullheight has-carousel")
    div(class="hero-carousel carousel-animated carousel-animate-fade is-overlay", data-autoplay="true", data-delay="5000")
        div(class="carousel-container blur-imgs")
            div(class="carousel-item has-background is-active")
                img(class="is-background", src=url+"img/_EDU5033.JPG" ,width="500" ,height="250")
            div(class="carousel-item has-background")
                img(class="is-background", src=url+"img/_EDU4052.JPG",width="500" ,height="250")
            div(class="carousel-item has-background")
                img(class="is-background" , src=url+"img/_EDU5059.JPG",width="500" ,height="250")
    div(class="hero-head")
        include views/includes/navbar.pug
    div(class="hero-body")
        div(class="container img-brand")
            div(class="title")
                img(class="img-brand", src=url+"img/Recurso1.png")                                                  

include views/includes/footer.pug