- var url = './';

include views/includes/head.pug

section(class="hero is-fullheight has-carousel")
    div(class="hero-carousel carousel-animated carousel-animate-fade is-overlay", data-autoplay="true", data-delay="5000")
        div(class="carousel-container blur-imgs")
            div(class="carousel-item has-background is-active")
                img(class="is-background", src=url+"img/_EDU5033.JPG" ,width="500" ,height="250")
            div(class="carousel-item has-background")
                img(class="is-background", src=url+"img/_EDU4052.JPG",width="500" ,height="250")
            div(class="carousel-item has-background")
                img(class="is-background" , src=url+"img/_EDU5059.JPG",width="500" ,height="250")
    div(class="hero-head")
        include views/includes/navbar.pug
    div(class="hero-body")
        div(class="container img-brand")
            div(class="title")
                img(class="img-brand", src=url+"img/Recurso1.png")

main(class="container py-2")
    section(class="section")
        div(class="columns is-multiline is-tablet")
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png", alt="Imagen prueba")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4") Producto 1
                                p(class="subtitle is-6") Familia producto 1
                            div(class="media-right")
                                figure(class="image is-48x48 has-text-right")
                                    a(href="#")
                                        span(class="icon has-text-info")
                                            i(class="fas fa-link fa-lg")
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png", alt="Imagen prueba")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4") Producto 2
                                p(class="subtitle is-6") Familia producto 2
                            div(class="media-right")
                                figure(class="image is-48x48 has-text-right")
                                    a(href="#")
                                        span(class="icon has-text-info")
                                            i(class="fas fa-link fa-lg")
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png", alt="Imagen prueba")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4") Producto 3
                                p(class="subtitle is-6") Familia producto 3
                            div(class="media-right")
                                figure(class="image is-48x48 has-text-right")
                                    a(href="#")
                                        span(class="icon has-text-info")
                                            i(class="fas fa-link fa-lg")
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png", alt="Imagen prueba")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4") Producto 4
                                p(class="subtitle is-6") Familia producto 4
                            div(class="media-right")
                                figure(class="image is-48x48 has-text-right")
                                    a(href="#")
                                        span(class="icon has-text-info")
                                            i(class="fas fa-link fa-lg")

include views/includes/footer.pug