- var url = './';

include views/includes/header.pug
include views/includes/navbar.pug

main(class="container py-2")
    section(class="section")
        div(class="columns")
            div(class="column is-two-fifths")
                div(class="card")
                    div(class="card-content estilo-card")
                    img(class="img-brand1", src=url+"img/logo_1brand.PNG" ,width="500" ,height="250")    
            div(class="column") 
                div(class="content")
                    div(class="carousel carousel-animated carousel-animate-fade")
                        div(class="carousel-container") 
                            div(class="carousel-item has-background is-active ")
                            img(class="is-background ", src=url+"img/_EDU5033.JPG" ,width="800" ,height="50")
                            div(class="carousel-item has-background is-active")
                            img(class="is-background ima-tamaño", src=url+"img/_EDU4052.JPG",width="500" ,height="250")
                            div(class="carousel-item has-background is-active")
                            img(class="is-background ima-tamaño" , src=url+"img/_EDU5059.JPG",width="500" ,height="250")
                            div(class="carousel-navigation is-overlay")
                            div(class="carousel-nav-left")
                            i( class="fa fa-chevron-left" aria-hidden="true")
                            div(class="carousel-nav-right")
                            i(class="fa fa-chevron-right" aria-hidden="true")


include views/includes/footer.pug